In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import gmaps
import gmaps.datasets
import matplotlib.pyplot as plt
import scipy.stats as sts

# File to load
file_to_load = "Resources/random_top_10_cities_with_interests.csv"

# Read file and store into Pandas data frame
abnb_data = pd.read_csv(file_to_load,low_memory=False)
abnb_data.head()

,id,host_id,host_response_time,host_response_rate,host_is_superhost,host_listings_count,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_location,reviews_per_month,crime,year,# point of interest
0,27556031,157584016,within an hour,100%,t,23.0,"Long Beach, CA, United States",Long Beach,Long Beach,Other Cities,...,22,95.0,10.0,10.0,10.0,10.0,1.37,148.0,2019.0,NaN
1,24019992,31102550,within an hour,100%,t,45.0,"Los Angeles, CA, United States",Mid-Wilshire,East Hollywood,City of Los Angeles,...,125,98.0,10.0,9.0,10.0,9.0,6.12,47879.0,2019.0,NaN
2,11554523,3075694,within an hour,100%,t,4.0,"Los Angeles, CA, United States",Hollywood Hills,Hollywood Hills,City of Los Angeles,...,70,98.0,10.0,10.0,10.0,10.0,2.25,47879.0,2019.0,20.0
3,28289822,213646170,within an hour,100%,t,1.0,"Los Angeles, CA, United States",South LA,View Park-Windsor Hills,Unincorporated Areas,...,72,97.0,10.0,10.0,10.0,10.0,4.91,47879.0,2019.0,NaN
4,9280040,46242870,within an hour,100%,t,1.0,"Los Angeles, CA, United States",South Robertson,Pico-Robertson,City of Los Angeles,...,162,100.0,10.0,10.0,10.0,10.0,3.64,47879.0,2019.0,20.0

In [2]:
# Calculate number of hosts
superhosts = abnb_data.groupby("host_is_superhost")
count = superhosts["id"].nunique()
count.head()
hosts = abnb_data[["id", "host_is_superhost", "latitude", "longitude"]]
hosts.head()

         id host_is_superhost  latitude  longitude
0  27556031                 t  33.76392 -118.13855
1  24019992                 t  34.07778 -118.30569
2  11554523                 t  34.10724 -118.34012
3  28289822                 t  33.99671 -118.33742
4   9280040                 t  34.05188 -118.38619

In [3]:
supers_df = hosts.loc[hosts["host_is_superhost"] == "t", :]
supers_df.head()

         id host_is_superhost  latitude  longitude
0  27556031                 t  33.76392 -118.13855
1  24019992                 t  34.07778 -118.30569
2  11554523                 t  34.10724 -118.34012
3  28289822                 t  33.99671 -118.33742
4   9280040                 t  34.05188 -118.38619

In [4]:
norms_df = hosts.loc[hosts["host_is_superhost"] == "f", :]
norms_df.head()

          id host_is_superhost  latitude  longitude
5   19951592                 f  34.06231 -118.24595
6   38487218                 f  34.09800 -118.32962
7   37694665                 f  34.04933 -118.34065
9    4880971                 f  34.07609 -118.35976
10  33911489                 f  34.14072 -118.09813

In [5]:
# Configure gmaps with API key
gmaps.configure(api_key="AIzaSyDznhqYwy3Ml0eN6vAhyaEyBsp-ytvpdQw")

# Store 'Lat' and 'Lng' into  locations 
locations = norms_df[["latitude", "longitude"]].astype(float)

# Handle NaN values
norms_df = norms_df.dropna()
norm_id = norms_df["id"].astype(float)

In [6]:
# Create a Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=norm_id, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Create bank symbol layer
final_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
)


fig = gmaps.figure()
fig.add_layer(final_layer)


fig

Figure(layout=FigureLayout(height='420px'))